extends layout

block append link

block content
  h1= title
  p Welcome to #{title}

block append footScript
  script(src="/lib/evernote-sdk-minified.js")
  script(src="/lib/jsOAuth-1.3.7.min.js")
  script(src="/lib/qs.min.js")